.RichEditor-link-tooltip-content {
  margin-bottom: 0;
}

.RichEditor-link-tooltip .tooltip-inner {
  max-width: none;
}

.RichEditor-link-tooltip .RichEditor-url {
  cursor: pointer;
  max-width: 100px;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: bottom;
}

.RichEditor-link-tooltip .RichEditor-split {
  margin: 0 5px;
}

.RichEditor-link-tooltip .RichEditor-btn {
  cursor: pointer;
}