.RichEditor-toolbar {
  padding: 10px 0;
}

.RichEditor-toolbar:first-child {
  border-bottom: 1px solid #eee;
  margin-bottom: 10px;
}

.RichEditor-toolbar:last-child {
  border-top: 1px solid #eee;
  margin-top: 10px;
}

.RichEditor-disabledButton {
  color: #ccc;
  cursor: no-drop;
  background-color: #fff;
}

.RichEditor-disabledButton>svg>path {
  fill: #ccc;
}